/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  border: 2px red solid;
  height: 100vh;
  width: 100vw;
  background-image: url('../img/pokemon.jpeg');
  background-position: top;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display:block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
